

<div class="row">

	<div class="col-lg-12 text-center v-center">

		<h1>Welcome to AirBnB for pets! </h1>
		<p class="lead">Because they deserve it</p>

		<br><br><br>

		<div>
			<img src="http://tweeterism.com/wp-content/uploads/2013/04/LOL-Cat.jpeg">
		</div>

	</div>

 </div> <!-- /row -->